#Backend
GIN_MODE=debug
SERVER_HOST=localhost
SERVER_PORT=8000
#/prod/dev
BASE_URL=/prod
#DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=chernika_shop

#TelegramBot
TELEGRAM_BOT_TOKEN=your_token

#JWT
JWT_SECRET=secret_jwt
JWT_ACCESS_TOKEN=24h
